{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "chrome": "100",
          "firefox": "100",
          "safari": "16"
        }
      }
    ]
  ]
}
