{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "array-includes",
    "@babel/plugin-transform-object-assign", 
    "@babel/plugin-proposal-private-methods", 
    "@babel/plugin-proposal-class-properties"
  ]
}
