{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
  ]
  ],
  "plugins": [
    "@59naga/babel-plugin-transform-array-from",
    "array-includes",
    "external-helpers",
    "transform-object-assign"
  ]
}
