// SweetAlert2
// github.com/sweetalert2/sweetalert2

@import 'variables';
@import 'mixins';

@import 'toasts';

html,
body {
  &.swal2-shown {
    @include not(
      '.swal2-no-backdrop',
      '.swal2-toast-shown'
    ) {
      overflow-y: hidden;
      height: auto; // #781
    }
  }
}

body {
  &.swal2-iosfix {
    position: fixed;
    left: 0;
    right: 0;
  }

  &.swal2-no-backdrop {

    .swal2-shown {
      top: auto;
      bottom: auto;
      left: auto;
      right: auto;
      background-color: transparent;

      & > .swal2-modal {
        box-shadow: 0 0 10px $swal2-overlay;
      }

      &.swal2-top {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      &.swal2-top-start,
      &.swal2-top-left {
        top: 0;
        left: 0;
      }

      &.swal2-top-end,
      &.swal2-top-right {
        top: 0;
        right: 0;
      }

      &.swal2-center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &.swal2-center-start,
      &.swal2-center-left {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }

      &.swal2-center-end,
      &.swal2-center-right {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }

      &.swal2-bottom {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      &.swal2-bottom-start,
      &.swal2-bottom-left {
        bottom: 0;
        left: 0;
      }

      &.swal2-bottom-end,
      &.swal2-bottom-right {
        bottom: 0;
        right: 0;
      }
    }
  }
}

.swal2-container {
  // centering
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;

  // backdrop
  background-color: transparent;

  z-index: 1060;

  &.swal2-top {
    align-items: flex-start;
  }

  &.swal2-top-start,
  &.swal2-top-left {
    align-items: flex-start;
    justify-content: flex-start;
  }

  &.swal2-top-end,
  &.swal2-top-right {
    align-items: flex-start;
    justify-content: flex-end;
  }

  &.swal2-center {
    align-items: center;
  }

  &.swal2-center-start,
  &.swal2-center-left {
    align-items: center;
    justify-content: flex-start;
  }

  &.swal2-center-end,
  &.swal2-center-right {
    align-items: center;
    justify-content: flex-end;
  }

  &.swal2-bottom {
    align-items: flex-end;
  }

  &.swal2-bottom-start,
  &.swal2-bottom-left {
    align-items: flex-end;
    justify-content: flex-start;
  }

  &.swal2-bottom-end,
  &.swal2-bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
  }

  &.swal2-grow-fullscreen > .swal2-modal {
    display: flex !important;
    flex: 1;
    align-self: stretch;
    justify-content: center;
  }

  &.swal2-grow-row > .swal2-modal {
    display: flex !important;
    flex: 1;
    align-content: center;
    justify-content: center;
  }

  &.swal2-grow-column {
    flex: 1;
    flex-direction: column;

    &.swal2-top,
    &.swal2-center,
    &.swal2-bottom {
      align-items: center;
    }

    &.swal2-top-start,
    &.swal2-center-start,
    &.swal2-bottom-start,
    &.swal2-top-left,
    &.swal2-center-left,
    &.swal2-bottom-left {
      align-items: flex-start;
    }

    &.swal2-top-end,
    &.swal2-center-end,
    &.swal2-bottom-end,
    &.swal2-top-right,
    &.swal2-center-right,
    &.swal2-bottom-right {
      align-items: flex-end;
    }

    & > .swal2-modal {
      display: flex !important;
      flex: 1;
      align-content: center;
      justify-content: center;
    }
  }

  @include not(
    '.swal2-top',
    '.swal2-top-start',
    '.swal2-top-end',
    '.swal2-top-left',
    '.swal2-top-right',
    '.swal2-center-start',
    '.swal2-center-end',
    '.swal2-center-left',
    '.swal2-center-right',
    '.swal2-bottom',
    '.swal2-bottom-start',
    '.swal2-bottom-end',
    '.swal2-bottom-left',
    '.swal2-bottom-right') {
    & > .swal2-modal {
      margin: auto;
    }
  }

  @include ie {
    .swal2-modal {
      margin: 0 !important;
    }
  }

  &.swal2-fade {
    transition: background-color .1s;
  }

  &.swal2-shown {
    background-color: $swal2-overlay;
  }
}


.swal2-popup {
  flex-direction: column;
  background-color: $swal2-background-color;
  font-family: $swal2-font;
  font-size: $swal2-font-size;
  padding: $swal2-padding;
  border-radius: .3125em;
  box-sizing: border-box;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
  position: relative;
  width: $swal2-width;
  max-width: 100%;

  &:focus {
    outline: none;
  }

  &.swal2-loading {
    overflow-y: hidden;
  }

  .swal2-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .swal2-title {
    color: lighten($swal2-black, 35);
    font-size: $swal2-title-font-size;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 0 0 .4em;
    padding: 0;
    display: block;
    word-wrap: break-word;
  }

  .swal2-actions {
    margin-top: 1.25em;
    align-items: center;
    justify-content: center;

    &:not(.swal2-loading) {
      .swal2-styled {
        &[disabled] {
          opacity: .4;
        }

        &:hover {
          background-image: linear-gradient($swal2-button-darken-hover, $swal2-button-darken-hover);
        }

        &:active {
          background-image: linear-gradient($swal2-button-darken-active, $swal2-button-darken-active);
        }
      }
    }

    &.swal2-loading {
      .swal2-styled {
        &.swal2-confirm {
          box-sizing: border-box;
          border: .25em solid transparent;
          border-color: transparent;
          width: 2.5em;
          height: 2.5em;
          padding: 0;
          margin: .46875em;
          background-color: transparent !important;
          color: transparent;
          cursor: default;
          border-radius: 100%;
          animation: rotate-loading 1.5s linear 0s infinite normal;
          user-select: none;
        }

        &.swal2-cancel {
          margin-left: 30px;
          margin-right: 30px;
        }
      }

      :not(.swal2-styled) {
        &.swal2-confirm {
          &::after {
            display: inline-block;
            content: '';
            margin-left: 5px;
            height: 15px;
            width: 15px;
            border: 3px solid lighten($swal2-black, 60);
            box-shadow: 1px 1px 1px $swal2-white;
            border-right-color: transparent;
            border-radius: 50%;
            animation: rotate-loading 1.5s linear 0s infinite normal;
          }
        }
      }
    }
  }

  .swal2-styled {
    border: 0;
    border-radius: .25em;
    box-shadow: none;
    color: $swal2-white;
    font-size: $swal2-buttons-font-size;
    font-weight: 500;
    margin: 0 .3125em;
    padding: .625em 2em;

    &:not([disabled]) {
      cursor: pointer;
    }

    &.swal2-confirm {
      background-color: $swal2-confirm-button-color;
    }

    &.swal2-cancel {
      background-color: $swal2-cancel-button-color;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px $swal2-white, 0 0 0 4px $swal2-focus-outline;
    }

    &::-moz-focus-inner {
      border: 0;
    }
  }

  .swal2-footer {
    font-size: $swal2-footer-font-size;
    border-top: 1px solid $swal2-footer-border-color;
    justify-content: center;
    margin-top: 1.25em;
    padding-top: 1em;
  }

  .swal2-image {
    margin: 1.25em auto;
    max-width: 100%;
  }

  .swal2-close {
    background: $swal2-transparent;
    border: 0;
    margin: 0;
    padding: 0;
    width: 1.2em;
    min-width: 1.2em;
    height: 1.2em;
    // calc is needed for the correct focus outline, w/o calc: https://goo.gl/T3NYRm
    font-size: calc(#{$swal2-close-button-size} - #{$swal2-close-button-size*.1});
    line-height: 1.2em;
    justify-content: center;
    font-family: serif;
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
    color: $swal2-close-button;
    transition: color .1s ease;

    &:hover {
      color: $swal2-close-button-hover;
    }
  }

  > .swal2-input,
  > .swal2-file,
  > .swal2-textarea,
  > .swal2-select,
  > .swal2-radio,
  > .swal2-checkbox {
    display: none;
  }

  .swal2-content {
    font-size: $swal2-content-font-size;
    justify-content: center;
    font-weight: 300;
    margin: 0;
    padding: 0;
    line-height: normal;
    color: lighten($swal2-black, 33);
    word-wrap: break-word;
  }

  #swal2-content {
    text-align: center;
  }

  .swal2-input,
  .swal2-file,
  .swal2-textarea,
  .swal2-select,
  .swal2-radio,
  .swal2-checkbox {
    margin: 1em auto;
  }

  .swal2-input,
  .swal2-file,
  .swal2-textarea {
    width: 100%;
    box-sizing: border-box;
    font-size: $swal2-input-font-size;
    border-radius: 3px;
    border: 1px solid $swal2-input-border;
    box-shadow: inset 0 1px 1px $swal2-input-box-shadow;
    transition: border-color .3s, box-shadow .3s;

    &.swal2-inputerror {
      border-color: $swal2-error !important;
      box-shadow: 0 0 2px $swal2-error !important;
    }

    &:focus {
      outline: none;
      border: 1px solid $swal2-input-border-focus;
      box-shadow: 0 0 3px $swal2-input-box-shadow-focus;
    }

    &::placeholder {
      color: lighten($swal2-black, 80);
    }
  }

  .swal2-range {
    input {
      width: 80%;
    }

    output {
      width: 20%;
      font-weight: 600;
      text-align: center;
    }

    input,
    output {
      font-size: $swal2-input-font-size;
      height: 2.625em;
      line-height: 2.625em;
      margin: 1em auto;
      padding: 0;
    }
  }

  .swal2-input {
    height: 2.625em;
    padding: 0 .75em;

    &[type='number'] {
      max-width: 10em;
    }
  }

  .swal2-file {
    font-size: $swal2-input-font-size;
  }

  .swal2-textarea {
    height: 6.75em;
    padding: .75em;
  }

  .swal2-select {
    color: lighten($swal2-black, 33);
    font-size: $swal2-input-font-size;
    padding: .375em .625em;
    min-width: 50%;
    max-width: 100%;
  }

  .swal2-radio,
  .swal2-checkbox {
    justify-content: center;
    align-items: center;

    label {
      font-size: $swal2-input-font-size;
      margin: 0 .6em;
    }

    input {
      margin: 0 .4em;
    }
  }

  .swal2-validationerror {
    align-items: center;
    justify-content: center;
    background-color: lighten($swal2-black, 94);
    overflow: hidden;
    padding: .625em;
    color: lighten($swal2-black, 50);
    font-size: $swal2-validation-font-size;
    font-weight: 300;
    display: none;

    &::before {
      content: '!';
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      background-color: $swal2-validationerror-background;
      color: $swal2-validationerror-color;
      line-height: 1.5em;
      font-weight: 600;
      text-align: center;
      margin: 0 .625em;
    }
  }
}

@supports (-ms-accelerator: true) {
  .swal2-range {
    input {
      width: 100% !important;
    }

    output {
      display: none;
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .swal2-range {
    input {
      width: 100% !important;
    }

    output {
      display: none;
    }
  }
}

.swal2-icon {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 4px solid transparent;
  border-radius: 50%;
  margin: 1.25em auto 1.875em;
  justify-content: center;
  position: relative;
  box-sizing: content-box;
  cursor: default;
  user-select: none;

  &.swal2-error {
    border-color: $swal2-error;

    .swal2-x-mark {
      position: relative;
      flex-grow: 1;
    }

    [class^='swal2-x-mark-line'] {
      position: absolute;
      height: 5px;
      width: 47px;
      background-color: $swal2-error;
      display: block;
      top: 37px;
      border-radius: 2px;

      &[class$='left'] {
        transform: rotate(45deg);
        left: 17px;
      }

      &[class$='right'] {
        transform: rotate(-45deg);
        right: 16px;
      }
    }
  }

  &.swal2-warning,
  &.swal2-info,
  &.swal2-question {
    font-family: $swal2-font;
    font-size: 3.75em;
    margin: .333333em auto .5em;
  }

  &.swal2-warning {
    color: $swal2-warning;
    border-color: lighten($swal2-warning, 7);
  }

  &.swal2-info {
    color: $swal2-info;
    border-color: lighten($swal2-info, 20);
  }

  &.swal2-question {
    color: $swal2-question;
    border-color: lighten($swal2-question, 20);
  }

  &.swal2-success {
    border-color: $swal2-success;

    [class^='swal2-success-circular-line'] { // Emulate moving circular line
      border-radius: 50%;
      position: absolute;
      width: 60px;
      height: 120px;
      transform: rotate(45deg);

      &[class$='left'] {
        border-radius: 120px 0 0 120px;
        top: -7px;
        left: -33px;

        transform: rotate(-45deg);
        transform-origin: 60px 60px;
      }

      &[class$='right'] {
        border-radius: 0 120px 120px 0;
        top: -11px;
        left: 30px;

        transform: rotate(-45deg);
        transform-origin: 0 60px;
      }
    }

    .swal2-success-ring { // Ring
      width: 80px;
      height: 80px;
      border: 4px solid $swal2-success-border;
      border-radius: 50%;
      box-sizing: content-box;

      position: absolute;
      left: -4px;
      top: -4px;
      z-index: 2;
    }

    .swal2-success-fix { // Hide corners left from animation
      width: 7px;
      height: 90px;

      position: absolute;
      left: 26px;
      top: 8px;
      z-index: 1;

      transform: rotate(-45deg);
    }

    [class^='swal2-success-line'] {
      height: 5px;
      background-color: $swal2-success;
      display: block;
      border-radius: 2px;

      position: absolute;
      z-index: 2;

      &[class$='tip'] {
        width: 25px;

        left: 14px;
        top: 46px;

        transform: rotate(45deg);
      }

      &[class$='long'] {
        width: 47px;

        right: 8px;
        top: 38px;

        transform: rotate(-45deg);
      }
    }
  }
}

.swal2-progresssteps {
  $lightblue: #add8e6;
  $blue: #3085d6;

  font-weight: 600;
  padding: 0;
  margin: 0 0 1.25em;
  align-items: center;

  li {
    display: inline-block;
    position: relative;
  }

  .swal2-progresscircle {
    background: $blue;
    border-radius: 2em;
    color: $swal2-white;
    height: 2em;
    line-height: 2em;
    text-align: center;
    width: 2em;
    z-index: 20;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.swal2-activeprogressstep {
      background: $blue;

      ~ .swal2-progresscircle {
        background: $lightblue;
      }

      ~ .swal2-progressline {
        background: $lightblue;
      }
    }
  }

  .swal2-progressline {
    background: $blue;
    height: .4em;
    width: $swal2-progress-steps-distance;
    margin: 0 -1px;
    z-index: 10;
  }
}


// github.com/sweetalert2/sweetalert2/issues/268
[class^='swal2'] {
  -webkit-tap-highlight-color: $swal2-transparent;
}

// Modal animations
@keyframes showSweetAlert {
  0% {
    transform: scale(.7);
  }

  45% {
    transform: scale(1.05);
  }

  80% {
    transform: scale(.95);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(.5);
    opacity: 0;
  }
}

.swal2-show {
  animation: showSweetAlert .3s;

  &.swal2-noanimation {
    animation: none;
  }
}

.swal2-hide {
  animation: hideSweetAlert .15s forwards;

  &.swal2-noanimation {
    animation: none;
  }
}


// Right-to-left support
[dir='rtl'] {
  .swal2-close {
    left: 8px;
    right: auto;
  }
}


// Success icon animation

@keyframes animate-success-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }

  54% {
    width: 0;
    left: 2px;
    top: 17px;
  }

  70% {
    width: 50px;
    left: -6px;
    top: 35px;
  }

  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }

  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes animate-success-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }

  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }

  84% {
    width: 55px;
    right: 0;
    top: 35px;
  }

  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
  }

  5% {
    transform: rotate(-45deg);
  }

  12% {
    transform: rotate(-405deg);
  }

  100% {
    transform: rotate(-405deg);
  }
}

.swal2-animate-success-line-tip {
  animation: animate-success-tip .75s;
}

.swal2-animate-success-line-long {
  animation: animate-success-long .75s;
}

.swal2-success {
  &.swal2-animate-success-icon {
    .swal2-success-circular-line-right {
      animation: rotatePlaceholder 4.25s ease-in;
    }
  }
}


// Error icon animation

@keyframes animate-error-icon {
  0% {
    transform: rotateX(100deg);
    opacity: 0;
  }

  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

.swal2-animate-error-icon {
  animation: animate-error-icon .5s;
}

@keyframes animate-x-mark {
  0% {
    transform: scale(.4);
    margin-top: 26px;
    opacity: 0;
  }

  50% {
    transform: scale(.4);
    margin-top: 26px;
    opacity: 0;
  }

  80% {
    transform: scale(1.15);
    margin-top: -6px;
  }

  100% {
    transform: scale(1);
    margin-top: 0;
    opacity: 1;
  }
}

.swal2-animate-x-mark {
  animation: animate-x-mark .5s;
}

@keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
