@use "sass:color";
@use '~@sass-collective/sass-em';
@use '~@sass-collective/sass-rem';

$swal2-white:         #fff !default;
$swal2-black:         #000 !default;
$swal2-outline-color: rgba(50, 100, 150, .4) !default;

// CONTAINER
$swal2-container-padding: sass-em.em(10, 16) !default;

// BOX MODEL
$swal2-width: sass-em.em(512, 16) !default;
$swal2-padding: sass-em.em(20, 16) !default;
$swal2-border: none !default;
$swal2-border-radius: sass-em.em(5, 16) !default;
$swal2-box-shadow: #d9d9d9 !default;

// ANIMATIONS
$swal2-show-animation: swal2-show .3s !default;
$swal2-hide-animation: swal2-hide .15s forwards !default;

// BACKGROUND
$swal2-background: $swal2-white !default;

// TYPOGRAPHY
$swal2-font: inherit !default;
$swal2-font-size: sass-rem.rem(16) !default;

// BACKDROP
$swal2-backdrop: rgba($swal2-black, .4) !default;
$swal2-backdrop-transition: background-color .1s !default;

// ICONS
$swal2-icon-size: sass-em.em(80, 16) !default;
$swal2-icon-animations: true !default;
$swal2-icon-margin:  sass-em.em(20, 16) auto sass-em.em(30, 16) !default;
$swal2-icon-zoom: null !default;
$swal2-success: #a5dc86 !default;
$swal2-success-border: rgba($swal2-success, .3) !default;
$swal2-error: #f27474 !default;
$swal2-warning: #f8bb86 !default;
$swal2-info: #3fc3ee !default;
$swal2-question: #87adbd !default;
$swal2-icon-font-family: inherit !default;

// IMAGE
$swal2-image-margin:  sass-em.em(20, 16) auto !default;

// TITLE
$swal2-title-margin: 0 0 sass-em.em(6.4, 16) !default;
$swal2-title-color: color.adjust($swal2-black, $lightness: 35) !default;
$swal2-title-font-size: sass-em.em(30, 16) !default;

// CONTENT
$swal2-content-justify-content: center !default;
$swal2-content-margin: 0 !default;
$swal2-content-pading: 0 !default;
$swal2-content-color: color.adjust($swal2-black, $lightness: 33) !default;
$swal2-content-font-size: sass-em.em(18, 16) !default;
$swal2-content-font-weight: normal !default;
$swal2-content-line-height: normal !default;
$swal2-content-text-align: center !default;
$swal2-content-word-wrap: break-word !default;

// INPUT
$swal2-input-margin: sass-em.em(16, 16) auto !default;
$swal2-input-width: 100% !default;
$swal2-input-height: sass-em.em(42, 16) !default;
$swal2-input-padding: 0 sass-em.em(12, 16) !default;
$swal2-input-border: 1px solid color.adjust($swal2-black, $lightness: 85) !default;
$swal2-input-border-radius: sass-em.em(3, 16) !default;
$swal2-input-box-shadow: inset 0 1px 1px rgba($swal2-black, .06) !default;
$swal2-input-focus-border: 1px solid #b4dbed !default;
$swal2-input-focus-outline: none !default;
$swal2-input-focus-box-shadow: 0 0 3px #c4e6f5 !default;
$swal2-input-font-size: sass-em.em(18, 16) !default;
$swal2-input-background: inherit !default;
$swal2-input-color: inherit !default;
$swal2-input-transition: border-color .3s, box-shadow .3s !default;

// TEXTAREA SPECIFIC VARIABLES
$swal2-textarea-height: sass-em.em(108, 16) !default;
$swal2-textarea-padding: sass-em.em(12, 16) !default;

// VALIDATION MESSAGE
$swal2-validation-message-justify-content: center !default;
$swal2-validation-message-padding: sass-em.em(10, 16) !default;
$swal2-validation-message-background: color.adjust($swal2-black, $lightness: 94) !default;
$swal2-validation-message-color: color.adjust($swal2-black, $lightness: 40) !default;
$swal2-validation-message-font-size: sass-em.em(16, 16) !default;
$swal2-validation-message-font-weight: 300 !default;
$swal2-validation-message-icon-background: $swal2-error !default;
$swal2-validation-message-icon-color: $swal2-white !default;
$swal2-validation-message-icon-zoom: null !default;

// PROGRESS STEPS
$swal2-progress-steps-background: inherit !default;
$swal2-progress-steps-margin: 0 0  sass-em.em(20, 16) !default;
$swal2-progress-steps-padding: 0 !default;
$swal2-progress-steps-font-weight: 600 !default;
$swal2-progress-steps-distance: sass-em.em(40, 16) !default;
$swal2-progress-step-width: sass-em.em(32, 16);
$swal2-progress-step-height: sass-em.em(32, 16);
$swal2-progress-step-border-radius: sass-em.em(32, 16);
$swal2-progress-step-background: #add8e6 !default;
$swal2-progress-step-color: $swal2-white !default;
$swal2-active-step-background: #3085d6 !default;
$swal2-active-step-color: $swal2-white !default;

// FOOTER
$swal2-footer-margin:  sass-em.em(20, 16) 0 0 !default;
$swal2-footer-padding: sass-em.em(16, 16) 0 0 !default;
$swal2-footer-border-color: #eee !default;
$swal2-footer-color: color.adjust($swal2-black, $lightness: 33) !default;
$swal2-footer-font-size: sass-em.em(16, 16) !default;

// TIMER POGRESS BAR
$swal2-timer-progress-bar-height: sass-em.em(4, 16);
$swal2-timer-progress-bar-background: rgba($swal2-black, .2) !default;

// CLOSE BUTTON
$swal2-close-button-align-items: center !default;
$swal2-close-button-justify-content: center !default;
$swal2-close-button-width: sass-em.em(19.2, 16) !default;
$swal2-close-button-height: sass-em.em(19.2, 16) !default;
$swal2-close-button-line-height: 1.2 !default;
$swal2-close-button-position: absolute !default;
$swal2-close-button-gap: 0 !default;
$swal2-close-button-transition: color .1s ease-out !default;
$swal2-close-button-border: none !default;
$swal2-close-button-border-radius: 0 !default;
$swal2-close-button-outline: null !default;
$swal2-close-button-background: transparent !default;
$swal2-close-button-color: color.adjust($swal2-black, $lightness: 80) !default;
$swal2-close-button-font-family: serif !default;
$swal2-close-button-font-size: sass-em.em(40, 16) !default;

// CLOSE BUTTON:HOVER
$swal2-close-button-hover-transform: none !default;
$swal2-close-button-hover-color: $swal2-error !default;
$swal2-close-button-hover-background: transparent !default;

// ACTIONS
$swal2-actions-flex-wrap: wrap !default;
$swal2-actions-align-items: center !default;
$swal2-actions-justify-content: center !default;
$swal2-actions-width: 100% !default;
$swal2-actions-margin:  sass-em.em(20, 16) auto 0 !default;

// CONFIRM BUTTON
$swal2-confirm-button-border: 0 !default;
$swal2-confirm-button-border-radius: sass-em.em(4, 16) !default;
$swal2-confirm-button-background-color: #3085d6 !default;
$swal2-confirm-button-color: $swal2-white !default;
$swal2-confirm-button-font-size: sass-em.em(17, 16) !default;

// CANCEL BUTTON
$swal2-cancel-button-border: 0 !default;
$swal2-cancel-button-border-radius: sass-em.em(4, 16) !default;
$swal2-cancel-button-background-color: #aaa !default;
$swal2-cancel-button-color: $swal2-white !default;
$swal2-cancel-button-font-size: sass-em.em(17, 16) !default;

// COMMON VARIABLES FOR CONFIRM AND CANCEL BUTTONS
$swal2-button-darken-hover: rgba($swal2-black, .1) !default;
$swal2-button-darken-active: rgba($swal2-black, .2) !default;
$swal2-button-focus-outline: none !default;
$swal2-button-focus-background-color: null !default;
$swal2-button-focus-box-shadow: 0 0 0 1px $swal2-background, 0 0 0 3px $swal2-outline-color !default;

// TOASTS
$swal2-toast-show-animation: swal2-toast-show .5s !default;
$swal2-toast-hide-animation: swal2-toast-hide .1s forwards !default;
$swal2-toast-border: none !default;
$swal2-toast-box-shadow: 0 0 sass-em.em(10, 16) #d9d9d9 !default;
$swal2-toast-background: $swal2-white !default;
$swal2-toast-close-button-width: sass-em.em(12.8, 16) !default;
$swal2-toast-close-button-height: sass-em.em(12.8, 16) !default;
$swal2-toast-close-button-line-height: .8 !default;
$swal2-toast-width: auto !default;
$swal2-toast-padding: sass-em.em(10, 16) !default;
$swal2-toast-title-margin: 0 sass-em.em(9.6, 16) !default;
$swal2-toast-title-font-size: sass-em.em(16, 16) !default;
$swal2-toast-content-font-size: sass-em.em(16, 16) !default;
$swal2-toast-input-font-size: sass-em.em(16, 16) !default;
$swal2-toast-validation-font-size: sass-em.em(16, 16) !default;
$swal2-toast-buttons-font-size: sass-em.em(16, 16) !default;
$swal2-toast-button-focus-box-shadow: 0 0 0 1px $swal2-background, 0 0 0 3px $swal2-outline-color !default;
$swal2-toast-footer-margin: sass-em.em(8, 16) 0 0 !default;
$swal2-toast-footer-padding: sass-em.em(8, 16) 0 0 !default;
$swal2-toast-footer-font-size: sass-em.em(12.8, 16) !default;
