$swal2-white:       #fff !default;
$swal2-black:       #000 !default;
$swal2-transparent: rgba($swal2-black, 0) !default;
$swal2-box-shadow:  #d9d9d9 !default;
$swal2-success:        #a5dc86 !default;
$swal2-success-border: rgba($swal2-success, .2) !default;
$swal2-error:          #f27474 !default;
$swal2-warning:        #f8bb86 !default;
$swal2-info:           #3fc3ee !default;
$swal2-question:       #87adbd !default;

$swal2-overlay:        rgba($swal2-black, .4) !default;

$swal2-close-button:               lighten($swal2-black, 80) !default;
$swal2-close-button-hover:         #d55 !default;

$swal2-input-border:               lighten($swal2-black, 85) !default;
$swal2-input-border-focus:         #b4dbed !default;
$swal2-input-box-shadow:           rgba($swal2-black, .06) !default;
$swal2-input-box-shadow-focus:     #c4e6f5 !default;

$swal2-validationerror-background: #ea7d7d !default;
$swal2-validationerror-color:      $swal2-white !default;

$swal2-focus-outline: rgba(50, 100, 150, .4);

$swal2-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$swal2-font-size: 1rem;

$swal2-width: 32em;
$swal2-toast-width: auto;

$swal2-padding: 1.25em;
$swal2-toast-padding: .625em;

$swal2-title-font-size: 1.875em;
$swal2-content-font-size: 1.125em;
$swal2-input-font-size: 1.125em;
$swal2-validation-font-size: 1em;
$swal2-buttons-font-size: 1.0625em;

$swal2-toast-title-font-size: 1em;
$swal2-toast-content-font-size: .875em;
$swal2-toast-input-font-size: 1em;
$swal2-toast-validation-font-size: 1em;
$swal2-toast-buttons-font-size: 1em;

$swal2-close-button-size: 2.5em;

$swal2-progress-steps-distance: 2.5em;

$swal2-actions-height: 4em;
