name: Test WebKit

on:
  push:
    branches:
      - main

jobs:
  WebKit:
    runs-on: macos-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v4

      - run: yarn install

      - run: yarn build

      - run: yarn test --browser webkit
